@charset "UTF-8";
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background: #222222;
}
.header__block {
  display: flex;
  align-items: flex-end;
  padding: 18px 0;
}
.header__left, .header__right {
  width: 50%;
}
.header__left {
  display: flex;
  align-items: flex-end;
}
.header__right {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.header__item {
  cursor: pointer;
  text-decoration: none;
}
.header__item:not(:last-child) {
  margin-right: 33px;
}
.header__logo {
  margin-right: 40px;
}

.icon {
  fill: #E8E8E8;
}
.icon:hover {
  fill: #f16d7f;
}
.icon__button {
  fill: black;
}

.menu__class {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.menu__class > h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 27px;
}
.menu__item {
  display: block;
}
.menu__list {
  position: absolute;
  top: 79px;
  right: 0;
  background: white;
}
.menu__range {
  display: block;
  font-weight: 400;
  color: #f16d7f;
  padding: 11px;
  width: 232px;
  padding-left: 20px;
}

.jeans {
  text-decoration: none;
  font-size: 16px;
  color: #6F6E6E;
  font-weight: 300;
  padding-left: 40px;
}
.jeans:hover {
  color: #f16d7f;
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #6F6E6E;
}

/*cover styles*/
.slide {
  margin: 50px auto;
}
.slide-block {
  display: flex;
  justify-content: center;
}

.cover {
  overflow-y: hidden;
}
.cover > div {
  width: 100%;
}

.button__slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0 42px 0;
}

.button__left,
.button__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-slide {
  display: flex;
  overflow-y: hidden;
  position: relative;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 99;
  border: none;
  background-color: none;
}
.arrow.right {
  right: 0;
}

/*collection styles*/
.collection__block {
  padding-bottom: 128px;
  text-align: center;
}
.collection__block > span {
  font-size: 24px;
  font-weight: 300;
  color: #f16d7f;
}
.collection__block > span:after {
  content: "";
  display: block;
  width: 55%;
  height: 1px;
  background-color: #EAEAEA;
  margin: 64px auto;
}
.collection__block > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.collection__block > h3 {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 48px;
}
.collection__block > h2 {
  font-size: 14px;
  font-weight: 300;
  color: #f16d7f;
}
.collection__block > h2:after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  margin: 12px auto;
}

.choose {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 48px;
}

.quantity__block {
  display: block;
  color: #6F6E6E;
  font-size: 14px;
  padding-right: 28px;
}

.cart {
  margin: 0 23px;
}
.cart__block {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
  border: solid 1px #f16d7f;
  background-color: #FFFFFF;
  padding: 14px 39px 14px 14px;
  height: 48px;
  fill: #f16d7f;
}
.cart__block:hover {
  fill: #FFFFFF;
  background-color: #f16d7f;
}
.cart__block:hover > a {
  color: #FFFFFF;
}
.cart__block > a {
  text-decoration: none;
  color: #f16d7f;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Intro styles */
.intro {
  height: 764px;
  background: #f1e4e6;
  margin: 0 0 65px 0;
}
.intro__block {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  background-image: url("../img/man.png");
  background-repeat: no-repeat;
  background-position: -221px 0px;
}
.intro__text {
  width: 42%;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 700;
  border-left: 12px solid #f16d7f;
}

h1 {
  max-width: 100%;
}
h1 > .large {
  font-size: 48px;
  font-weight: 900;
}
h1 > .decor {
  color: #f16d7f;
}

/* Product styles */
.product {
  margin: 0 0 96px 0;
}
.product__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 1090px) {
  .product__block {
    gap: 20px;
  }
}
.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 260px;
  line-height: 28px;
  color: white;
  font-size: 16px;
  background-repeat: no-repeat;
}
.product__item:last-child {
  width: 100%;
  height: 180px;
}
@media screen and (max-width: 1090px) {
  .product__item {
    height: 167px;
  }
}
@media screen and (max-width: 592px) {
  .product__item {
    width: 100%;
  }
}
.product__item > span {
  color: #f16d7f;
  font-size: 24px;
}

/*price*/
.price {
  margin-bottom: 95px;
}
.price__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 12px 0;
}
.price__img__block {
  position: relative;
}
.price__overlay {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5;
}
.price__overlay:hover {
  opacity: 1;
}
.price__img__cart {
  padding-right: 10px;
}
.price__add {
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #fff;
  font-size: 14px;
  fill: #fff;
  display: flex;
  align-items: center;
}
.price__add:hover {
  background-color: #fff;
  color: #f16d7f;
  fill: #f16d7f;
  border-color: #f16d7f;
  cursor: pointer;
}
.price__title {
  text-align: center;
}
.price__title > h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
.price__title > p {
  font-size: 14px;
  color: #9f9f9f;
  padding-top: 6px;
  padding-bottom: 48px;
}
.price__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 22px;
}
.price__info {
  padding: 25px 30px 30px 17px;
}
.price__info > a {
  text-decoration: none;
  color: black;
}
.price__info > a > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.price__info > a > h3:hover {
  color: #f16d7f;
}
.price__info > p {
  font-size: 14px;
  color: #5d5d5d;
  padding: 17px 0px 27px 0px;
  font-weight: 300;
}
.price__info > span {
  color: #f16d7f;
  font-size: 16px;
}
.price__button {
  display: flex;
  justify-content: center;
}
.price__button > a {
  text-decoration: none;
  color: #f16d7f;
  font-size: 16px;
  outline: #f16d7f solid 1px;
  padding: 15px 39px 14px 39px;
}
.price__button > a:hover {
  background-color: #f16d7f;
  color: #fff;
}

/*services*/
.services {
  background-color: #222224;
  padding: 100px 0;
}
.services__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.services__item {
  max-width: 380px;
  text-align: center;
}
.services__item img {
  min-height: 35px;
}
.services__item > h3 {
  color: #ffffff;
  font-size: 20px;
  padding-top: 26px;
  padding-bottom: 16px;
}
.services__item > p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  padding: 0px 35px;
}

/*conclusion*/
.conclusion {
  padding: 0 10px;
  background-image: url("/img/ocean.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.conclusion__block {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block__left {
  width: 67%;
  font-size: 20px;
  text-align: center;
  padding: 105px 170px 197px 0px;
}
.block__left > img {
  padding-bottom: 30px;
}

.block__right {
  width: 90%;
  height: 142px;
  text-align: center;
}
.block__right > h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}
.block__right > p {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}

.right__button {
  display: flex;
  justify-content: center;
}
.right__button > button {
  background-color: #f16d7f;
  color: #ffffff;
  border-radius: 0 50px 50px 0;
  width: 17%;
  height: 49px;
  border: none;
  cursor: pointer;
}
.right__button > input {
  background-color: #e1e1e1;
  border-radius: 50px 0 0 50px;
  padding: 7px 22px;
  width: 39%;
  border: none;
}

/*footer*/
.footer {
  padding: 15px 0;
  background-color: #222224;
}
.footer__item {
  color: #ffffff;
}
.footer__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  align-items: center;
}

.prof {
  display: inline-flex;
  background-color: #fff;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}
.prof:not(:last-child) {
  margin: 0 8px 0 0;
}
.prof:hover {
  background-color: #f16d7f;
}
.prof:hover > svg {
  fill: #fff;
}

.tools {
  fill: black;
}

.tools:hover {
  fill: #fff;
}

/*breadcrumb*/
.breadcrumb {
  background-color: #f8f3f4;
}
.breadcrumb__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__title {
  color: #f16d7f;
  font-size: 24px;
  padding: 59px 0 60px 0;
}
.breadcrumb__links {
  padding: 65px 0 66px 0;
}
.breadcrumb__links > a {
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
}
.breadcrumb__links > a:hover {
  color: #f16d7f;
}
.breadcrumb__links > a.active {
  color: #f16d7f;
  font-weight: 700;
}

/*filter*/
::-webkit-details-marker {
  display: none;
}

.filter {
  cursor: pointer;
  display: block;
  color: #000000;
  font-size: 14px;
  fill: black;
}
.filter__container {
  position: relative;
  padding: 51px 0 81px 0;
}
.filter__block {
  /* position: relative; */
  position: absolute;
  top: 39px;
  padding: 13px 16px;
  max-width: 44%;
  background: white;
}
.filter__block[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  color: #f16d7f;
}
.filter__block[open] > .filter {
  fill: #f16d7f;
  color: #f16d7f;
  margin: 0 0 16px 0;
}

.clothes[open] > .category__item {
  color: #f16d7f;
}

.category__item {
  display: block;
  font-weight: 400;
  color: #6f6e6e;
  border-left: 5px solid #f16d7f;
  margin-bottom: 18px;
  padding: 11px;
  border-bottom: 1px solid #ebebeb;
  width: 301px;
}

li {
  font-size: 14px;
  color: #6f6e6e;
  padding: 11px;
}

.brands__item {
  display: block;
  color: #6f6e6e;
  border-left: 5px solid #f16d7f;
  margin-bottom: 18px;
  padding: 11px;
  border-bottom: 1px solid #ebebeb;
}

.disegners__item {
  display: block;
  color: #6f6e6e;
  border-left: 5px solid #ef5b70;
  margin-bottom: 18px;
  padding: 11px;
  border-bottom: 1px solid #ebebeb;
}

.pink {
  text-align: center;
  background-color: #F7E4E2;
  padding: 9px 110px 10px 108px;
}

.treding {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.size__block {
  cursor: pointer;
  display: block;
  color: #6F6E6E;
  font-size: 14px;
  padding-right: 28px;
  fill: #6F6E6E;
}

.checkbox__block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  height: 103px;
  padding: 10px;
  z-index: 9;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  background-color: #000000;
}

.pages__block {
  display: flex;
  justify-content: center;
  margin-bottom: 96px;
}

.page {
  border: none;
  background: none;
}
.page__item {
  display: flex;
  border: 1px solid #EBEBEB;
}

.search {
  display: flex;
  align-items: baseline;
}
.search > li > a {
  text-decoration: none;
  font-size: 16px;
  color: #C4C4C4;
  font-weight: 300;
}
.search > li > a.active {
  color: #f16d7f;
}

.tool {
  color: #C4C4C4;
}

/*shop*/
.shop {
  display: flex;
}

.purchase__left {
  position: relative;
  display: flex;
  align-items: center;
  width: 652px;
  height: 306px;
  margin: 96px 0 72px 0;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.purchase__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.purchase__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 42px;
  text-transform: uppercase;
}

.purchase__title > h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding-right: 105px;
}

.purchase__price {
  padding: 0 31px 0 31px;
  width: 100%;
}

.shop__price {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding: 6px;
}

.color__price {
  color: #f16d7f;
}

.shop__amount {
  color: #656565;
  border: #EAEAEA solid 1px;
  padding: 1px 16px 1px 16px;
  margin-left: 24px;
}

.shipping__block > h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 20px;
}

.shipping__block {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 113px 0 98px 50px;
}

.ship {
  margin-bottom: 20px;
  height: 45px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  width: 360px;
}

.ship::-moz-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 15px;
}

.ship:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 15px;
}

.ship::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 15px;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  padding: 11px 15px;
  color: #4A4A4A;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.checkout__block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #F5F3F3;
  padding: 39px 43px 42px 44px;
}

.crout {
  color: #4A4A4A;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: end;
}

.treep {
  text-align: end;
  padding-top: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1 px solid #E2E2E2;
  padding-bottom: 21px;
}

.proceed {
  cursor: pointer;
  border: none;
  background-color: #F16D7F;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 15px 42px 16px 42px;
}

.purchase__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 128px;
}

.button__1,
.button__2 {
  cursor: pointer;
  padding: 17px 40px 16px 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
}

.button__1:hover {
  color: #fff;
  background-color: #f16d7f;
  border-radius: 10px;
}

.button__2:hover {
  color: #fff;
  background-color: #f16d7f;
  border-radius: 10px;
}

.account__block {
  display: flex;
}

.account__left {
  margin-top: 64px;
}

.account__left > h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.account__right {
  margin: 64px 0 280px 128px;
}

.account__right > h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
}

.account__right > p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.account__form {
  display: flex;
  flex-direction: column;
}

.account__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
}

.account__list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.list {
  padding-right: 22px;
}

.field {
  width: 120%;
  height: 45px;
  margin-bottom: 20px;
}
.field::-moz-placeholder {
  padding: 13px 278px 14px 17px;
}
.field:-ms-input-placeholder {
  padding: 13px 278px 14px 17px;
}
.field::placeholder {
  padding: 13px 278px 14px 17px;
}

.gender {
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-right: 50px;
}

.account__join {
  cursor: pointer;
  border: none;
  background-color: #f16d7f;
  padding: 16px 36px 17px 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join {
  fill: #fff;
  padding-left: 20px;
}

.join:hover {
  color: #f16d7f;
}

.account__join:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid;
}
.account__join:hover > svg {
  fill: #f16d7f;
}

/*Адаптивная верстка*/
@media screen and (max-width: 1090px) {
  .container {
    max-width: 750px;
  }
  .services__block {
    flex-direction: column;
  }
  .services__item {
    padding-bottom: 49px;
  }
  .conclusion__block {
    flex-direction: column;
  }
  .block__left {
    padding: 64px 0 48px 0;
  }
  .block__right {
    padding-bottom: 140px;
  }
  .treding {
    display: flex;
    justify-content: end;
  }
  .shop {
    display: flex;
    flex-direction: column;
  }
  .purchase__right {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .account__right {
    margin: 64px -6px 280px 49px;
  }
  .intro__block {
    background-position: -221px 20px;
  }
  .field {
    width: 95%;
  }
  .shop__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ship {
    margin-bottom: 20px;
    height: 45px;
    border: 1px solid #A4A4A4;
    background-color: #fff;
    width: 300px;
  }
  .checkout__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F5F3F3;
    padding: 39px 43px 42px 44px;
    margin-bottom: 90px;
  }
  .shipping__block {
    margin: 40px 0;
  }
}
@media screen and (max-width: 755px) {
  .breadcrumb__container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .breadcrumb__title {
    padding: 50px 0 50px 0;
  }
  .price__block {
    justify-content: center;
  }
  .account__block {
    justify-content: center;
    flex-direction: column;
  }
  .field {
    width: 100%;
  }
  .button__1,
.button__2 {
    cursor: pointer;
    padding: 9px 18px 9px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
    background-color: #fff;
    border: 1px solid #A4A4A4;
  }
  .shop__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #575757;
    padding: 6px;
  }
  .purchase__title {
    padding-bottom: 25px;
  }
  .shop__amount {
    padding: 1px 5px 1px 5px;
    margin-left: 2px;
  }
  .right__button > button {
    width: auto;
  }
  .pick {
    width: 144px;
    height: 188px;
  }
  .purchase__left {
    position: relative;
    display: flex;
    align-items: center;
    width: 360px;
    height: 188px;
    margin: 30px 0 30px 0;
  }
  .shop__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .purchase__title > h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
  }
  .checkout__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F5F3F3;
    padding: 39px 43px 42px 44px;
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 445px) {
  .mobile__hidden {
    display: none;
  }
  .prof:not(:last-child) {
    margin: 0;
  }
  .intro {
    height: calc(100vh - 78px);
  }
  .intro__block {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro__text {
    width: 60%;
    font-size: 20px;
    font-weight: 700;
    border-left: 12px solid #f16d7f;
  }
  h1 > .large {
    font-size: 38px;
    font-weight: 900;
  }
  .price__block {
    display: flex;
    justify-content: center;
  }
  .price__card {
    margin-bottom: 15px;
  }
  .footer {
    padding-top: 10px;
  }
  .footer__list {
    display: block;
    padding: 0 10px;
  }
  .footer__block {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer__item {
    padding: 25px 10px 10px 10px;
  }
  .prof {
    margin-bottom: 40px;
  }
  .breadcrumb__container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .breadcrumb__title {
    padding: 50px 0 50px 0;
  }
  .account__block {
    display: flex;
    flex-direction: column;
  }
  .shop__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    padding: 4px;
  }
  .button__1,
.button__2 {
    cursor: pointer;
    padding: 9px 18px 9px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
    background-color: #fff;
    border: 1px solid #A4A4A4;
  }
  .purchase__title {
    padding-bottom: 25px;
  }
  .shop__amount {
    padding: 1px 5px 1px 5px;
    margin-left: 2px;
  }
  .right__button > button {
    width: auto;
  }
  .pick {
    width: 144px;
    height: 188px;
  }
  .purchase__left {
    width: 360px;
    height: 188px;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .purchase__title > h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .cross {
    position: absolute;
    top: 15px;
    right: 25px;
    fill: #6F6E6E;
  }
  .checkout__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #F5F3F3;
    padding: 39px 43px 42px 44px;
    margin-bottom: 90px;
  }
  .block__left {
    width: auto;
  }
}
@media screen and (max-width: 360px) {
  .purchase__left {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */