.footer {
	padding: 15px 0;
	background-color: #222224;
    &__item {
        color: #ffffff;
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        align-items: center;
    }
}
.prof {
    display:inline-flex;
    background-color: #fff;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
        margin: 0 8px 0 0;
    }
    &:hover {
        background-color: $pink;
        & > svg {
            fill: #fff;
        }
    }
}
.tools {
    fill: black;
}
.tools:hover {
    fill: #fff;
}