.intro {
	height: 764px;
	background: #f1e4e6;
	margin: 0 0 65px 0;
    &__block {
        display: flex;
        justify-content: end;
        height: 100%;
        align-items: center;
        background-image: url('../img/man.png');
        background-repeat: no-repeat;
        background-position: -221px 20px;
    }
    &__text {
        width: 40%;
        padding-left: 28px;
        font-size: 32px;
        font-weight: 700;
        border-left: 12px solid $pink;
    }
}

h1 {
	max-width: 100%;
    & > .large {
        font-size: 48px;
        font-weight: 900;
    }
    & > .decor {
        color: $pink;
    }
}