.price {
	margin-bottom: 95px;
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 48px 0;
    }
    &__img__block {
        position: relative;
    }
    &__overlay {
        position: absolute;
        background: rgba(58, 56, 56, 0.86);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &__img__cart {
        padding-right: 10px;
    }
    &__add {
        padding: 10px 20px;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #fff;
        font-size: 14px;
        fill: #fff;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #fff;
            color: black;
            fill: black;
            cursor: pointer;
        }
    }
    &__title {
        text-align: center;
    }
    &__title > h2 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
    }
    &__title > p {
        font-size: $size;
        color: #9f9f9f;
        padding-top: 6px;
        padding-bottom: 48px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 360px;
        background-color: #f8f8f8;
        margin-bottom: 15px;
    }
    &__info {
        padding: 24px 45px 20px 16px;
    }
    &__info > a {
        text-decoration: none;
        color: black;
    }
    &__info > p {
        font-size: $size;
        color: #5d5d5d;
        padding: 13px 45px 18px 0;
        font-weight: 300;
    }
    &__info > span {
        color: $pink;
        font-size: 16px;
    }
    &__button {
        display: flex;
        justify-content: center;
    }
    &__button > a {
        text-decoration: none;
        color: $pink;
        font-size: 16px;
        outline: $pink solid 1px;
        padding: 15px 39px 14px 39px;
        &:hover {
            background-color: $pink;
            color: #fff;
        }
    }
}
